<html>
  <head>
    <title>Cards against humanity</title>
    <link rel=stylesheet href="main.css" type="text/css">
    <script src='lib/jquery.js'></script>
    <script src='lib/lodash.js'></script>
    <script src='lib/Bacon.js'></script>
    <script src='lib/mustache.js'></script>
    <script src='LocalStorage.js'></script>
    <script src='data/questions.js'></script>
    <script src='data/answers.js'></script>
    <script id='answerCardTemplate' type='x-tmpl-mustache'>
      <div id='answer-{{id}}' class='answer-card-container'>
        <span class="id">ID: {{id}}</span>
        <span class="answer">{{text}}</span>
        <button id="{{id}}" class="answer-button" type="submit">select</button>
      </div>
    </script>
    <script id='questionCardTemplate' type='x-tmpl-mustache'>
      <div class='question-card-container'>
        <span class="id">ID: {{id}}</span>
        <span class="question">{{text}}</span>
      </div>
    </script>
  </head>
  <body>
    <div id='hand'></div>
    <div id='question'></div>
    <script src='main.js'></script>
  </body>
</html>
